@font-face
   font-family Roboto-Black
   src url(../assets/fonts/Roboto-Black.ttf)
   font-display swap 
@font-face
   font-family Roboto-BlackItalic
   src url(../assets/fonts/Roboto-BlackItalic.ttf)
   font-display swap
@font-face
   font-family Roboto-Bold
   src url(../assets/fonts/Roboto-Bold.ttf)   
   font-display swap
@font-face
   font-family Roboto-BoldCondensed
   src url(../assets/fonts/Roboto-BoldCondensed.ttf)
   font-display swap
@font-face
   font-family Roboto-BoldCondensedItalic
   src url(../assets/fonts/Roboto-BoldCondensedItalic.ttf)
   font-display swap
@font-face
   font-family Roboto-BoldItalic
   src url(../assets/fonts/Roboto-BoldItalic.ttf)
   font-display swap
@font-face
   font-family Roboto-Condensed
   src url(../assets/fonts/Roboto-Condensed.ttf)
   font-display swap
@font-face
   font-family Roboto-BoldCondensed
   src url(../assets/fonts/Roboto-BoldCondensed.ttf)
   font-display swap
@font-face
   font-family Roboto-CondensedItalic
   src url(../assets/fonts/Roboto-CondensedItalic.ttf)
   font-display swap
@font-face
   font-family Roboto-Italic
   src url(../assets/fonts/Roboto-Italic.ttf)
   font-display swap
@font-face
   font-family Roboto-Light
   src url(../assets/fonts/Roboto-Light.ttf)
   font-display swap
@font-face
   font-family Roboto-LightItalic
   src url(../assets/fonts/Roboto-LightItalic.ttf)
   font-display swap
@font-face
   font-family Roboto-Medium
   src url(../assets/fonts/Roboto-Medium.ttf)
   font-display swap
@font-face
   font-family Roboto-MediumItalic
   src url(../assets/fonts/Roboto-MediumItalic.ttf)
   font-display swap
@font-face
   font-family Roboto-Regular
   src url(../assets/fonts/Roboto-Regular.ttf)
   font-display swap
@font-face
   font-family Roboto-Thin
   src url(../assets/fonts/Roboto-Thin.ttf)
   font-display swap
@font-face
   font-family Roboto-ThinItalic
   src url(../assets/fonts/Roboto-ThinItalic)
   font-display swap
@font-face
   font-family Poppins-Medium
   src url(../assets/fonts/Poppins-Medium.ttf)
   font-display swap
@font-face
   font-family Poppins-Light
   src url(../assets/fonts/Poppins-Light.ttf)
   font-display swap
@font-face
   font-family Poppins-Regular
   src url(../assets/fonts/Poppins-Regular.ttf)
   font-display swap
@font-face
   font-family Poppins-SemiBold
   src url(../assets/fonts/Poppins-SemiBold.ttf)
   font-display swap
@font-face
   font-family Poppins-Bold
   src url(../assets/fonts/Poppins-Bold.ttf)
   font-display swap
@font-face
   font-family Bebas-New-Bold
   src url(../assets/fonts/BebasNeueBold.otf)
   font-display swap
@font-face
   font-family CenturyGothic-Regular
   src url(../assets/fonts/GOTHIC.TTF)
   font-display swap
@font-face
   font-family CenturyGothic-Bold
   src url(../assets/fonts/GOTHICB.TTF)
   font-display swap
@font-face
   font-family CenturyGothic-BoldItalic
   src url(../assets/fonts/GOTHICBI.TTF)
   font-display swap
@font-face
   font-family CenturyGothic-RegularItalic
   src url(../assets/fonts/GOTHICI.TTF)
   font-display swap